@layer reset {
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }
}

@layer base {
  :root {
    /* Colors */
    /* Primary */
    --green-400: hsl(180, 29%, 50%);
    /* Neutral */
    /* background 👇 */
    --green-50: hsl(180, 52%, 96%);
    --gray-400: hsl(180, 8%, 52%);
    --green-900: hsl(180, 14%, 20%);
  }
  html {
    font-family: "League Spartan", sans-serif;
  }
}
@layer layout {
  header {
    position: relative;
    margin-bottom: 6rem;
  }
  .filters-panel {
    display: flex;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    width: 100%;
  }
  .filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0rem 2rem 4rem -3rem var(--green-400);
    border-radius: 5px;
  }
  .filter {
    display: flex;
    align-items: center;
    min-height: 2rem;
    align-items: stretch;
  }
  .filter-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 0.5rem 1rem;
  }
  .filter-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  .clear-filters {
    margin-left: auto;
  }
  .jobs-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
  }
  .job {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 3rem 2rem 2rem 2rem;
    max-width: 31.5rem;
  }
  .job .company-logo {
    position: absolute;
    left: 2rem;
    top: 0;
    width: 5rem;
    transform: translateY(-50%);
  }
  .job .badges {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  .job .badge {
    padding: 0.4rem 1rem;
    border-radius: 100px;
  }

  .job .job-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .job .info-header {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .job .job-details {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }
  .tag {
    padding: 0.6rem 1rem;
  }
  .attribution {
    text-align: center;
    margin-top: auto;
    margin-bottom: 5rem;
  }
}
@layer components {
  body {
    background-color: var(--green-50);
  }
  header {
    background-image: url(../images/bg-header-mobile.svg);
    height: 10rem;
    background-size: cover;
  }
  .filters {
    background-color: #fff;
    box-shadow: 0rem 2rem 4rem -3rem var(--green-400);
    border-radius: 5px;
  }
  .filter {
    border-radius: 5px;
    overflow: hidden;
  }
  .filter-name {
    background-color: var(--green-50);
    color: var(--green-400);
    font-size: 1.6rem;
    font-weight: 700;
  }
  .filter-delete {
    font-size: 1.6rem;
    background-color: var(--green-400);
    color: var(--green-50);
    cursor: pointer;
    transition: all 0.3s;
  }
  .filter-delete:hover {
    background-color: #000;
  }
  .clear-filters {
    cursor: pointer;
    color: var(--gray-400);
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.3s;
  }
  .clear-filters:hover {
    color: var(--green-400);
    text-decoration: underline;
  }
  .jobs-container {
    padding: 3rem;
  }
  .job {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0rem 2rem 4rem -3rem var(--green-400);
  }
  .job .company {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--green-400);
  }
  .job .position {
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
  }
  .job .badge {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .job .badge-featured {
    background-color: #000;
    color: var(--green-50);
  }
  .job .badge-new {
    background-color: var(--green-400);
    color: var(--green-50);
  }

  .job .job-details {
    color: var(--gray-400);
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 1px solid var(--gray-400);
  }
  .tag {
    background-color: var(--green-50);
    color: var(--green-400);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .tag:hover {
    background-color: var(--green-400);
    color: var(--green-50);
  }
  .tag-selected {
    position: relative;
    background-color: var(--green-400);
    color: var(--green-50);
  }
  .tag-selected:hover::after {
    position: absolute;
    content: "X";
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--gray-400);
    color: var(--green-50);
    background-color: crimson;
    transition: all 0.3s;
  }

  .tag-selected:hover {
    outline: 2px solid var(--green-400);
  }
}
@layer utilities {
  .hidden {
    display: none;
  }
  .featured {
    border-left: 5px solid var(--green-400);
  }
  .attribution {
    font-size: 1.3rem;
    color: var(--gray-400);
  }
  .attribution a:link,
  .attribution a:visited {
    color: inherit;
    font-weight: 600;
    transition: all 0.3s;
  }
  .attribution a:hover,
  .attribution a:active {
    color: var(--green-400);
  }
}
